/********************
FONT-COLORS INCLUDE FILE
********************/

.color-primary{
	color:$color-primary;
}

.color-red{
	color:$color-red;
}

.color-orange{
	color:$color-orange;
}

.color-yellow{
	color:$color-yellow;
}

.color-green{
	color:$color-green;
}

.color-blue{
	color:$color-blue;
}

.color-cyan{
	color:$color-cyan;
}

.color-purple{
	color:$color-purple;
}

.color-pink{
	color:$color-pink;
}

.color-white{
	color:$color-white;
}

.color-black{
	color:$color-black;
}
.color-gray{
	color:$color-gray;
}
.color-natural{
	color:$color-natural;
}
/*********************************************/

.bg-primary{
	background-color:$color-primary;
}
.bg-info{
	background-color:$color-info;
}
.bg-danger{
	background-color:$color-danger;
}
.bg-warning{
	background-color:$color-warning;
}
.bg-success{
	background-color:$color-success;
}

.bg-red{
	background-color:$color-red;
}

.bg-orange{
	background-color:$color-orange;
}

.bg-yellow{
	background-color:$color-yellow;
}

.bg-green{
	background-color:$color-green;
}

.bg-blue{
	background-color:$color-blue;
}

.bg-cyan{
	background-color:$color-cyan;
}

.bg-purple{
	background-color:$color-purple;
}

.bg-pink{
	background-color:$color-pink;
}

.bg-white{
	background-color:#fff;
}

.bg-black{
	background-color:#000;
}
.bg-gray{
	background-color:gray;
}
.bg-natural{
	background-color:$color-natural;
}
