
.width-2em{
	width:2em;
}

.width-3em{
	width:3em;
}

.width-4em{
	width:4em;
}

.width-5em{
	width:5em;
}

.width-6em{
	width:6em;
}

.width-full{
	width:100%;
}

.block{
	display:block;
}
.table-cell{
	display:table-cell;
}
.table-cell-center{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.margin-center{
	margin: 0 auto !important;
}

.text-left{
	text-align:center;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
