$screen-xs-min: 0px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;
$screen-xxl-min: 1600px;

$sidebar-width				: 100px;

$color-light-gray: #f8f8f8;
$color-light-black: #222;

$color-red: #CC5252;
$color-orange: #F2A879;
$color-yellow: #F2EB9B;
$color-green: #6BA368;
$color-blue: #6395D6;
$color-cyan: #73EFFF;
$color-purple: #776b98;
$color-pink: #FFB3B3;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #ccc;
$color-natural: #ede1d1;

$color-primary: $color-purple;
$color-info: $color-blue;
$color-success: $color-green;
$color-warning: $color-orange;
$color-danger: $color-red;

$margin-sm: 10px;
$margin-md: 25px;
$margin-lg: 50px;
$margin-xl: 100px;
$margin-xxl: 200px;

$btn-padding-md: 10px;
$btn-padding-sm: 5px;
$btn-padding-lg: 15px;
