

.margin-sm{margin:$margin-sm;}
.margin-md{margin:$margin-md;}
.margin-lg{margin:$margin-lg;}
.margin-xlg{margin:$margin-xl;}
.margin-xxlg{margin:$margin-xxl;}

.margin-top-sm{margin-top:$margin-sm;}
.margin-top-md{margin-top:$margin-md;}
.margin-top-lg{margin-top:$margin-lg;}
.margin-top-xlg{margin-top:$margin-xl;}
.margin-top-xxlg{margin-top:$margin-xxl;}

.margin-bottom-sm{margin-bottom:$margin-sm;}
.margin-bottom-md{margin-bottom:$margin-md;}
.margin-bottom-lg{margin-bottom:$margin-lg;}
.margin-bottom-xlg{margin-bottom:$margin-xl;}
.margin-bottom-xxlg{margin-bottom:$margin-xxl;}

.padding-sm{padding:$margin-sm;}
.padding-md{padding:$margin-md;}
.padding-lg{padding:$margin-lg;}
.padding-xlg{padding:$margin-xl;}
.padding-xxlg{padding:$margin-xxl;}

.padding-top-sm{padding-top:$margin-sm;}
.padding-top-md{padding-top:$margin-md;}
.padding-top-lg{padding-top:$margin-lg;}
.padding-top-xlg{padding-top:$margin-xl;}
.padding-top-xxlg{padding-top:$margin-xxl;}

.padding-bottom-sm{padding-bottom:$margin-sm;}
.padding-bottom-md{padding-bottom:$margin-md;}
.padding-bottom-lg{padding-bottom:$margin-lg;}
.padding-bottom-xlg{padding-bottom:$margin-xl;}
.padding-bottom-xxlg{padding-bottom:$margin-xxl;}

