body,html{
    font-size:12px;
}

.h1{
    font-weight:bold;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    font-size:4em;
}
.h2{
    @extend .h1;
    font-size:2rem;
}
.h3{
    @extend .h1;
    font-size:1.5rem;
}
.h4{
    @extend .h1;
    font-size:1.2rem;
}
.h5{
    @extend .h1;
    font-size:1.1rem;
}
.text-latex{
    
}
.text-eclipsed{
  @include transition("all 500ms linear");
  @include textGradient("-webkit-linear-gradient(#333,#eee)");
}
.text-eclipsed:hover,.text-eclipsed:active{
    @include textGradient("-webkit-linear-gradient(#333,#aaa)");
}
.text-link,.link,.action-link{
    cursor: pointer;
}
a.no-underline{
	text-decoration:none!important;
}
a:hover .still-underline{
	text-decoration:underline;
}

.no-wrap,.nowrap{
	white-space:nowrap;
}

.bold, .text-bold, .font-bold{
	font-weight:bold;
}
