@import '_strapon_variables';

@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin-Regular.ttf);
    font-weight: normal;
}

body{
	font-family: 'Cabin', Helvetica;
    font-size:16px;
}


.selected-item{
    font-weight:bold;
    color: $color-purple;
}