<!--The content below is only a placeholder and can be replaced.-->
<div class="container cover-natural padding-md text-center">
  <div class="h1">{{title}}</div>
</div>

<div class="container padding-md">
  <div class="container-xs">
    <div class="color-gray text-eclipsed">Find Food By Name</div>
    <input class="so-input" [(ngModel)]="searchFood" placeholder="Search Food" />
    <div class="color-gray text-eclipsed margin-top-sm">Find Food By Ingredients</div>
    <input class="so-input" [(ngModel)]="searchText" placeholder="What do you have?" />
  </div>
  <div class="container-md cover rounded padding-sm margin-lg">

    <div class="rf-block text-bold h4">
      <div class="rf-col-xs-6 rf-col-sm-5">Name</div>
      <div class="rf-col-xs-6 rf-col-sm-3">Genre</div>
      <div class="rf-col-xs-3 rf-col-sm-1">Ingredients</div>
      <div class="rf-col-xs-3 rf-col-sm-1">Difficulty</div>
      <div class="rf-col-xs-3 rf-col-sm-1">Prep Time</div>
      <div class="rf-col-xs-3 rf-col-sm-1">Rating</div>
    </div>
    <hr>
    <div class="rf-block link margin-top-sm" [class.selected-item]="recipe === selectedRecipe" *ngFor="let recipe of recipes | RecipeLikeNameFilter: searchFood"
      (click)="onSelect(recipe)">
      <div class="rf-col-xs-6 rf-col-sm-5">{{recipe.name}}</div>
      <div class="rf-col-xs-6 rf-col-sm-3">{{recipe.genre}}</div>
      <div class="rf-col-xs-3 rf-col-sm-1">{{recipe.ingredients.length}}</div>
      <div class="rf-col-xs-3 rf-col-sm-1">{{recipe.difficulty == -1 ? "N/A" : recipe.difficulty}}</div>
      <div class="rf-col-xs-3 rf-col-sm-1">{{recipe.time == -1 ? "N/A" : recipe.time}}</div>
      <div class="rf-col-xs-3 rf-col-sm-1">{{recipe.rating == -1 ? "N/A" : recipe.rating}}</div>
    </div>

  </div>

  <div *ngIf="selectedRecipe">

    <div class="container">
      <h2>{{selectedRecipe.name}} Details</h2>
    </div>

    <div class="container">
      <div class="rf-row padding-sm">
        <div class="rf-col-xs-12 rf-col-sm-4">
          <label class="text-bold">ID: </label>
          <input class="so-input" [(ngModel)]="selectedRecipe.id" placeholder="id" />
        </div>
        <div class="rf-col-xs-12 rf-col-sm-4">
          <label class="text-bold">Name: </label>
          <input class="so-input" [(ngModel)]="selectedRecipe.name" placeholder="name" />
        </div>
        <div class="rf-col-xs-12 rf-col-sm-4">
          <label class="text-bold">Genre: </label>
          <input class="so-input" [(ngModel)]="selectedRecipe.genre" placeholder="genre" />
        </div>
      </div>

      <div class="rf-row padding-sm">
        <div class="rf-col-xs-12 rf-col-sm-4">
          <label class="text-bold">Difficulty: </label>
          <input class="so-input" [(ngModel)]="selectedRecipe.difficulty" placeholder="difficulty" />
        </div>
        <div class="rf-col-xs-12 rf-col-sm-4">
          <label class="text-bold">Prep Time: </label>
          <input class="so-input" [(ngModel)]="selectedRecipe.time" placeholder="time" />
        </div>
        <div class="rf-col-xs-12 rf-col-sm-4">
          <label class="text-bold">Rating: </label>
          <input class="so-input" [(ngModel)]="selectedRecipe.rating" placeholder="rating" />
        </div>
      </div>

      <div class="rf-row padding-sm">
        <div class="rf-col-xs-12 rf-col-sm-6">
          <label class="text-bold">Instructions: </label>
          <textarea class="so-input" [(ngModel)]="selectedRecipe.instructionsText" (ngModelChange)="instructionsParse()" placeholder="instructions"></textarea>
        </div>
        <div class="rf-col-xs-12 rf-col-sm-6">
          <label class="text-bold">Ingredients: </label>
          <textarea class="so-input" [(ngModel)]="selectedRecipe.ingredientsText"  (ngModelChange)="ingredientsParse()" placeholder="ingredients"></textarea>
        </div>

      </div>

    </div>

  </div>
</div>